.App {
  text-align: center;
}

.Nav{
  background-color: #2196f3;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.Nav img{
  color: white;
  margin-right: 5px;
}

.Nav .dropdown-toggle{
  background: none;
  border: none;
}

/* --------------------------------------------- */

.main {
  margin: 10% 30px 30px 30px;
}

.main p{
  font-size:60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main button{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* ---------------------------------------------- */

.fooditem{
  margin: 5% 20%;
}

.fooditem .card{
  justify-content: left;
  border-color: none;
  width: 200px;
  margin: 10px;
  padding: 0;
  box-shadow: 0 10px 10px -11px;
}

.fooditem .card img {
  height: 150px;
}

.fooditem .card .card-body{
  text-align: left;
}

.fooditem .card .card-body button{
  margin: 1px;
  width: 40px;
  height: 30px;
  padding: 0;
}

.fooditem .card .card-body .sub{
  background-color: #5f9ea042;
  font-weight: 200;
  color: black;
  border: none;
}

/* ------------------------- */

.login{
  justify-content: center;
  margin: 10% 20%;
}

.login form {
  justify-content: center;
  margin:40px;
  width: 200px;
}

/* ------------------------------------------------------ */

.checkout{
  margin : 10%;
  padding: 5% 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* -------------------------------------------------------- */

#exampleModal .modal-header, #exampleModal .modal-footer{
  border : none
}